.header--blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
}

.title__item--blog {
     position: absolute;
     bottom: -24px;
     left: 15%;
}

// MAIN BLOG SECTION

.main__blog {
    background-color: $Color5;
    padding: 100px;
}

.all__posts {
    display: flex;
    flex-direction: row-reverse;
}

.main__entry {
    background: #fff;
    padding: 50px;
    margin-bottom: 30px;
    &--date, &--p {
        @include sansFont(2rem);
        margin: 0 0 20px 20px;
    }
    &--h {
        margin: 0 0 20px 20px;
    }
    &--with-img {
        display: flex;
        align-items: flex-start;
    }
}

.aside__post {
    margin-right: 30px;
    &--entry {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    }
    &--p, &--ul {
        @include sansFont(2rem);
        span a {
            padding-left: 5px;
            text-decoration: none;
            color: $Color2;
            font-weight: 900;
        }
    }
}