.header--contact {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
}

// MAIN CONTACT SECTION

.aside__entry--contact {
    margin-top: 50px;
}

.aside__entry--social-icons {
    color: $Color1;
    padding: 0;
    a {
        padding: 10px;
        font-size: 2.4rem;
    }
}

.aside__entry--contact-info {
    list-style: none;
    padding: 0;
    li {
        padding: 2px;
        font-size: 1.6rem;
    }
    a {
        text-decoration: none;
        color: $Color4;
        font-weight: 900;
    }
}

