$Color1: #345231;
$Color2:#709b6b;
$Color3:#e4a436;
$Color4: #1f1f1f;
$Color5: #f6f6f6;


html {
    font-family: 'Abril Fatface', cursive, 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}


// mixins

@mixin cursiveFont($fontSize) {
    font-size: $fontSize;
    color: $Color4;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
} 


@mixin sansFont($fontSize) {
    font-size: $fontSize;
    color: $Color4;
    font-family: "Montserrat", sans-serif;
}
