// FIRST SECTION - BIOGRAPHY

.bio {
    background: #1568d429;
    &__item {
    padding: 100px 0;
    text-align: center;
    width: 75%;
        .bio__p {
            @include sansFont(2rem);
            margin-bottom: 50px;
        }
        .bio__button {
            @include button(2rem);
        }
    }
}


// SECOND SECTION ABOUT

.about {
    position: relative;
}
.article {
    display: flex;
    align-items: center;
    &__item {
        @include columnFlex(center);
        position: relative;
        z-index: 10;
        &--original {
        display: block;
        top:-50px;
        }
        &--mirror {
            bottom:-50px;
        }
    }
    &__text {
        padding: 75px;
        &--top {
           align-items: flex-start;
        }
        &--bottom {
            align-items: flex-end;
            text-align: right;
        }
        .article__p {
            @include sansFont(2rem);
        }
        .article__button {
            @include button(2rem);
            display: block;
        }
    }
}

.article--2 {
    position: relative;
}

.article__backdrop {
        height: 406px;
        width: calc(50% + 25px);
        position: absolute;
        &--top {
        top: -25px;
        background: $Color2;
        }
        &--bottom {
            bottom: -25px;
            left: calc(50% - 25px);
            background: $Color1;
            }
}

.article__journey figure {
    width: 50%;
    img {
        width: 100%;
        height: 100;
    }
}



// THIRD SECTION JOURNEY

.journey {
    background: $Color5;
    padding: 100px 0;
    img {
        box-shadow: 25px 25px $Color2;
        opacity: 1;
    }
}

// FOURTH SECTION WALLPAPER

.wallpaper {
    background-image: url(../assets/home-image-5.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
}

// FIFTH SECTION GALLERY

.gallery {
    padding: 100px 0;
    &__item {
        display: flex;
        figure {
            width: calc(100% / 3);
        }
        figure:nth-child(2) {
            margin: 0 40px;
        }
    img {
        width: 100%;
        height: 100%;
        }   
    }
}












