// FIRST SECTION - BIOGRAPHY

.bio {
    background: #1568d429;
    &__item {
    padding: 100px 0;
    text-align: center;
    width: 75%;
        .bio__h {
            @include cursiveFont(4.2rem);
        }
        .bio__p {
            @include sansFont(2rem);
            margin-bottom: 50px;
        }
        .bio__button {
            @include button(2rem);
        }
    }
}

// SECTION SECTION ABOUT
.about {
    position: relative;
}
.article {
    display: flex;
    &__item {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
         .article--img {
        display: block;
        position: relative;
        top:-50px;
        box-shadow: 25px 25px $Color1;
        }
        .article__h {
            @include cursiveFont(3.2rem);
            margin: 0;
        }
        .article__p {
            @include sansFont(2rem);
        }
        .article__button {
            @include button(2rem);
            display: block;
        }
    }
    &--text {
        padding: 75px;
    }
}

 .article--backdrop {
        height: 406px;
        width: 50%;
        background: $Color1;
        position: absolute;
        top: -25px;
    }






