article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-family: 'Montserrat', sans-serif,'Abril Fatface', cursive;
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  color: #1f1f1f;
  background: #f6f6f6; }

h1 {
  font-size: 15rem;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  color: #f6f6f6;
  margin: 0;
  line-height: 0.8;
  margin-right: 30px; }

h2 {
  font-size: 4.2rem;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase; }

h3 {
  font-size: 3.2rem;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  margin: 0; }

h4 {
  font-size: 8rem;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-right: 30px;
  line-height: 0.75; }

h5 {
  font-size: 2.4rem;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  margin: 20px 0; }

.main__background {
  background-color: #f6f6f6;
  padding: 100px;
  min-height: 100vh; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

header {
  background: #345231; }

.hamburger {
  display: none; }

.nav-background {
  background: #345231;
  padding: 10px 0; }

.nav {
  background: #345231;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  max-width: 800px;
  margin: 0 auto; }
  .nav a {
    color: #f6f6f6;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  .nav a:hover {
    color: #e4a436; }
  .nav .nav__list--homeLink a {
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }
  .title__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .title__item img {
      position: absolute;
      left: -50px;
      top: -30px; }

.title__img {
  position: relative;
  bottom: -50px;
  -webkit-box-shadow: 20px 20px #fff;
  box-shadow: 20px 20px #fff; }

.bio {
  background: #f6f6f6; }
  .bio__item {
    padding: 100px 0;
    text-align: center;
    width: 75%; }
    .bio__item .bio__p {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 50px; }
    .bio__item .bio__button {
      font-size: 2rem;
      padding: 10px 20px;
      background: #e4a436;
      text-decoration: none;
      color: #1f1f1f;
      font-family: 'Abril Fatface', cursive;
      text-transform: uppercase; }

.bio__button:hover {
  background: #709b6b; }

.about {
  position: relative; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff; }
  .article__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 50%; }
    .article__item--original {
      display: block;
      top: -50px; }
    .article__item--mirror {
      bottom: -50px; }
    .article__item img {
      display: block;
      width: 100%; }
  .article__text {
    padding: 75px; }
    .article__text--top {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .article__text--bottom {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      text-align: right; }
    .article__text .article__p {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif; }
    .article__text .article__button {
      font-size: 2rem;
      padding: 10px 20px;
      background: #e4a436;
      text-decoration: none;
      color: #1f1f1f;
      font-family: 'Abril Fatface', cursive;
      text-transform: uppercase;
      display: block; }
  .article__journey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.article__button:hover {
  background: #709b6b; }

.article--2 {
  position: relative; }

.article__backdrop {
  height: 406px;
  width: calc(50% + 25px);
  position: absolute; }
  .article__backdrop--top {
    top: -25px;
    background: #709b6b; }
  .article__backdrop--bottom {
    bottom: -25px;
    left: calc(50% - 25px);
    background: #345231; }

.article__journey figure {
  width: 50%; }
  .article__journey figure img {
    width: 100%;
    height: 100; }

.journey {
  background: #f6f6f6;
  padding: 100px 0; }
  .journey img {
    -webkit-box-shadow: 25px 25px #709b6b;
    box-shadow: 25px 25px #709b6b;
    opacity: 1; }

.wallpaper {
  background-image: url(../assets/home-image-5.jpg);
  background-size: cover;
  height: 400px;
  width: 100%; }

.gallery {
  background: #fff;
  padding: 100px 0; }
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .gallery__item figure {
      width: calc(100% / 3); }
    .gallery__item figure:nth-child(2) {
      margin: 0 40px; }
    .gallery__item img {
      width: 100%;
      height: 100%; }

.footer-nav {
  background: #f6f6f6;
  padding: 100px 0; }

.footer-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footer-nav__text {
  margin: 0 0 50px 25px; }
  .footer-nav__text a {
    text-decoration: none;
    color: #1f1f1f; }
  .footer-nav__text--p {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif; }

.footer-nav__icon {
  background: #e4a436;
  border-radius: 50%; }
  .footer-nav__icon--right {
    margin-left: 50px; }
  .footer-nav__icon a {
    color: #1f1f1f;
    display: block;
    padding: 15px 18px; }
    .footer-nav__icon a:hover {
      background: #709b6b;
      border-radius: 50%; }

.copyright {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  background: #1f1f1f;
  text-align: center;
  color: #fff; }
  .copyright p {
    margin: 0;
    padding: 20px; }

h4 {
  padding-left: 100px; }

.header--blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative; }

.title__item--blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 325px;
  line-height: 0.75; }
  .title__item--blog span {
    margin-left: 20px; }

.all__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.main__post section:nth-of-type(odd) {
  border-bottom: 8px solid #709b6b; }

.main__entry {
  padding: 50px;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 75%;
  flex: 1 0 75%; }
  .main__entry--blog {
    background: #fff; }
  .main__entry--date, .main__entry--p {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 20px; }
  .main__entry--h {
    margin: 0 0 20px 20px; }
  .main__entry--with-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.aside__post {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px; }

.aside__entry {
  margin-right: 30px; }
  .aside__entry--about, .aside__entry--list {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif; }
    .aside__entry--about span a, .aside__entry--list span a {
      padding-left: 5px;
      text-decoration: none;
      color: #709b6b;
      font-weight: 900; }
    .aside__entry--about img, .aside__entry--list img {
      width: 100%; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }

input[type=text], input[type=email] {
  width: 50%;
  padding: 20px 10px;
  border: none; }

input[type=email] {
  margin-left: 10px;
  border: none; }

textarea {
  margin-bottom: 20px;
  padding: 20px;
  border: none; }

input[type=submit] {
  font-size: 2rem;
  padding: 10px 20px;
  background: #e4a436;
  text-decoration: none;
  color: #1f1f1f;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  border: none; }

.header--contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  width: 100%;
  position: relative; }

.title__item--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 300px; }

.main__entry--contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 65%;
  flex: 1 0 65%; }

.aside__entry--contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 35%;
  flex: 1 0 35%;
  padding: 20px;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.aside__entry--social-icons {
  color: #345231;
  padding: 0; }
  .aside__entry--social-icons a {
    padding: 10px;
    font-size: 2.4rem; }

.aside__entry--contact-info {
  list-style: none;
  padding: 0; }
  .aside__entry--contact-info li {
    padding: 2px;
    font-size: 1.6rem; }
  .aside__entry--contact-info a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 900; }

@media (max-width: 1300px) {
  .title--main {
    padding-left: 100px;
    padding-right: 100px; }
  .article__item {
    width: 100%; }
    .article__item--original {
      top: 0;
      padding-left: 50px; }
    .article__item--mirror {
      padding-right: 50px;
      bottom: 0; }
    .article__item--original img {
      -webkit-box-shadow: 20px 20px #709b6b;
      box-shadow: 20px 20px #709b6b; }
    .article__item--mirror img {
      -webkit-box-shadow: -20px -20px #345231;
      box-shadow: -20px -20px #345231; }
  .article__text {
    padding: 50px 100px; }
  .article__backdrop {
    display: none; }
  .article__journey {
    padding-left: 50px; }
  .gallery {
    padding: 100px 50px; }
  .footer-nav {
    padding-left: 100px;
    padding-right: 100px; } }

@media (max-width: 1125px) {
  .title {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .title__item img {
      top: -60px;
      left: -30px;
      -webkit-transform: rotateZ(25deg);
      -ms-transform: rotate(25deg);
      transform: rotateZ(25deg); }
    .title h1 {
      font-size: 12.5rem; }
  h2 {
    font-size: 3.8rem; }
  .bio__item {
    padding: 75px 0; }
  .article__text {
    padding: 50px; }
  .gallery {
    padding: 0; }
    .gallery__item figure:nth-child(2) {
      margin: 0; }
  .footer-nav {
    padding: 50px; }
  .all__posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .main__entry--contact {
    padding: 0; }
  .aside__entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    .aside__entry--about {
      padding: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .aside__entry--about img {
        display: block; }
      .aside__entry--about div {
        margin-left: 20px; }
    .aside__entry--list {
      margin-left: 30px;
      width: 100%;
      -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .aside__entry--ul {
      padding-left: 20px; }
      .aside__entry--ul li {
        padding: 10px; }
  h5 {
    margin: 0; } }

@media (max-width: 965px) {
  h4 {
    padding-left: 50px; }
  .nav-background {
    padding: 10px 50px; }
  .title__item {
    display: none; }
  .main__background {
    padding: 50px 50px; }
  .footer-nav__text--p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 10px; }
  .footer-nav__icon--right {
    margin-left: 10px; }
  .aside__entry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .aside__entry--list {
      margin-left: 0; } }

@media (max-width: 768px) {
  h4 {
    font-size: 6rem;
    padding-left: 50px; }
  .header {
    position: relative; }
  .hamburger {
    display: block;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 4rem; }
  .nav-background {
    padding: 10px 0 0 10px; }
    .nav-background li:not(:nth-child(3)) {
      display: none; }
  .bio {
    padding: 50px; }
  .bio__item {
    width: 100%; }
  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .article__item {
      width: 100%;
      padding: 0; }
      .article__item img {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .article__text {
      padding: 50px;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .article--2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .article__journey {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .footer-nav__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-nav__text {
    margin: 0 0 50px 0; }
    .footer-nav__text--p span {
      display: none; }
  .main__entry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main__entry--date, .main__entry--p {
      margin-left: 0; }
    .main__entry h3 {
      margin-left: 0; }
  form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  input[type=text], input[type=email], input[type=email] {
    margin: 5px 0;
    width: 100%; } }

@media (max-width: 450px) {
  .aside__entry--about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .journey {
    padding: 0; }
  .bio__item {
    padding: 0; } }

@media (max-width: 360px) {
  h4 {
    font-size: 4.8rem; } }
